/* body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
} */

body {
    /* background: url('back.jpg') no-repeat center center fixed;
    background-size: 100% 100%; */
    background-color: #213734;
}

.main_container {
    position: absolute;
    width: 1322px;
    height: 668px;
    top: 50%;
    left: 50%;
    margin-left: -661px;
    margin-top: -334px;
    /* margin-left: -10px;
    margin-top: -10px; */
}

.background_image {
    position: absolute;
    width: 1322px;
    height: 668px;
}

.logo {
    position: absolute;
    height: 106px;
    width: 120px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.manage_icon {
    position: absolute;
    height: 55px;
    width: 55px;
    cursor: pointer;
    margin-top: 130px;
    margin-left: 40px;
}

.manage_icon:hover {
    height: 50px;
    width: 50px;
    margin-top: 132.5px;
    margin-left: 42.5px;
    border-radius: 10px;
}

.display_word_container {
    position: absolute;
    margin-top: 45px;
    width: 900px;
    height: 275px;
    background-color: #b7d7ca;
    border-radius: 10px;
    text-align: center;
}

.display_word_container input[type="checkbox"] {
    position: absolute;
    right: 90px;
    top: 15px;
}

.display_word_container h2 {
    /* display: inline; */
    position: absolute;
    right: 20px;
    top: -10px;
    font-weight: normal;
}

.displayed_word {
    margin-top: 60px;
    font-size: 65px;
}

.displayed_word_with_details {
    margin-top: 10px;
    font-size: 50px;
}

.word_details {
    display: none;
    margin-top: -40px;
    min-height: 200px;
    width: 100%;
    background-color: #d7f3e7;
    border-radius: 0px 0px 10px 10px;
    text-align: justify;
}

.word_details h1 {
    /* position: absolute; */
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: normal;
}

.word_details a {
    margin-left: 15px;
    font-size: 25px;
    font-family: 'Times New Roman';
    color: #0f7d02;
    font-weight: bold;
}

.word_details h3 {
    /* position: absolute; */
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    margin-top: 0px;
    font-size: 23px;
    font-family: 'Times New Roman';
    font-weight: normal;
}

.ques_mark {
    cursor: pointer;
    font-size: 65px;
    color: white;
    background-color: #319499;
    -webkit-text-stroke: 1px rgb(59, 59, 59);
    border-radius: 0px 0px 10px 10px;
}

.ques_mark:hover {
    background-color: #17777c;
    color: rgb(49, 49, 49);
    -webkit-text-stroke: 1px rgb(180, 180, 180);
}

.container {
    position: absolute;
    width: 900px;
    height: 550px;
    margin-left: 370px;
    margin-top: 95px;
    list-style: none;
}

.mastered {
    position: absolute;
    left: 0px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    color: rgb(6, 88, 6);
}

.sort_option {
    position: absolute;
    left: 33%;
}

.sort_option h3 {
    font-weight: normal;
    display: inline;
    font-size: 25px;
    color: rgb(233, 233, 233);
}

.add_new_word_btn {
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 152px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    background-color: rgb(195, 255, 255);
}

.add_new_word_btn:hover {
    background-color: rgb(164, 214, 214);
}

.add_new_word_btn_icon {
    font-size: 27px;
    font-weight: bolder;
    position: absolute;
    background-color: rgb(20, 32, 33);
    width: 28px;
    height: 28px;
    margin-left: 2px;
    margin-top: 1px;
    color: white;
    border-radius: 28px;
    padding-left: 1px;
}

.add_new_word_btn_text {
    font-family: fantasy;
    font-weight: bold;
    position: absolute;
    margin-left: 28px;
    width: 120px;
    height: 30px;
    margin-top: 6px;
}

.word_container {
    margin-left: 10px;
    margin-top: 20px;
    padding-top: 15px;
}

.word_container input[type="text"] {
    width: 300px;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 30px;
    border: none;
}

.word_container textarea {
    width: 300px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 30px;
}

.word_container input[type="submit"] {
    margin-left: 145px;
    width: 80px;
    height: 35px;
    border: none;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    background-color: rgb(34, 57, 59);
    border-radius: 15px;
    color: white;
}

.word_container input[type="submit"]:hover {
    background-color: rgb(77, 143, 149);
    color: white;
}

.manage_btn_container {
    position: absolute;
    /* background-color: red; */
    width: 700px;
    height: 300px;
    margin-top: 130px;
    margin-left: 460px;
}

.manage_btn {
    font-size: 22px;
    width: 100%;
    height: 55px;
    margin-bottom: 4px;
    border-radius: 10px;
    opacity: 0.8;
    cursor: pointer;
}

.alert_success {
    width: 40%;
    margin-left: 30%;
    position: absolute;
    background-color: #38ffa2;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    top: 10px;
    text-align: center;
    z-index: 50;
}

.close_modal {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 28px;
    height: 25px;
    background: rgb(50, 50, 50);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.modal_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    margin-left: -200px;
    margin-top: -250px;
    background: #bdc3c7;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
}

.active {
    visibility: visible;
    opacity: 1;
}

.active+.modal {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.appear_cnt {
    position: absolute;
    top: 60%;
    left: 39%;
    color: rgb(238 255 0 / 68%);
    font-size: 23px;
}

.slidecontainer {
    position: absolute;
    top: 72%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    /* background-color: blue; */
}

.slidecontainer p {
    position: absolute;
    top: 0;
    left: 49%;
    width: 150px;
    color: white;
    font-size: 28px;
    margin-left: -75px;
}

.slidecontainer h1 {
    font-size: 14px;
    position: absolute;
    margin-top: 1.3px;
    margin-left: 10px;
    font-weight: normal;
    color: white;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    /* background: #d3d3d3; */
    background: linear-gradient(to right, green 0%, green 20%, #d3d3d3 45%, #d3d3d3 100%);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.slider:hover {
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0cbcc2;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0cbcc2;
    cursor: pointer;
}

.arrow {
    position: absolute;
    cursor: pointer;
    display: block;
    top: 92%;
    left: 49%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    border: solid 6px rgb(255, 255, 255);
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
}

.arrow:before,
.arrow:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: rgb(255, 254, 254);
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.2s linear;
}

.arrow:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.arrow:hover {
    border: solid 8px rgb(107, 225, 246);
}

.arrow:hover:after,
.arrow:hover:before {
    background: rgb(107, 225, 246);
}

* {
    box-sizing: border-box;
    border: 0px black;
}

.search_bar {
    position: absolute;
    width: 550px;
    margin-left: 530px;
    margin-top: 20px;
}

form.search_bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 500px;
    height: 30px;
    background: #f1f1f1;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

form.search_bar button {
    float: left;
    width: 30px;
    height: 30px;
    background: #769b9b;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

form.search_bar button:hover {
    background: #407070;
}

.search_icon {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner {
    display: none;
    margin-left: 750px;
    margin-top: 25px;
    position: absolute;
    z-index: 100;
    --size: 62px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
}

.inner.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #2cfffe;
}

.inner.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #fcc10f;
}

.inner.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #ffffff;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}