<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <img class="background_image" src="{% static 'background.jpg' %}">
    <a href="/"><img src="{% static 'logo.png' %}" class="logo"></a>
    <a href="/manage"><img src="{% static 'manage_icon.png' %}" class="manage_icon"></a>


    {%if messages %} {% for msg in messages %}
    <div class="alert_success" id="msg" role="alert"> {{ msg }} </div>
    {% endfor %} {% endif %}

    <form class="search_bar" autocomplete="off" action="/.">
        <input id="search" type="text" name="search" placeholder="Search..">
        <button type="submit"><img src="{% static 'search_icon.png' %}" class="search_icon"></button>
    </form>


    <form name="form" action="." class="container" method="POST"> {% csrf_token %}
        <li class="mastered"> {{mastered}}/{{total}} words mastered</li>
        <li class="sort_option">

            {% if alpha_sort == 1 %}
            <input type="checkbox" name="sort_order" checked> {% else %}
            <input type="checkbox" name="sort_order">{% endif %}

            <h3> show words in alphabetical order </h3>
        </li>
        <li class="add_new_word_btn" id="add_btn">
            <div class="add_new_word_btn_icon">+</div>
            <div class="add_new_word_btn_text">Add New Word</div>
        </li>

        <div class="display_word_container">

            <h3 class="displayed_word" id="displayed_word">
                {{ word }}
            </h3>
            <h3 class="ques_mark" id="ques_mark" onclick=showDetails()>?</h3>
            <div class="word_details" id="word_details">
                <h1>{{ pos }} {{ def}} </h1>
                <a>Example</a>
                <h3> {{ exm }} </h3>
            </div>
        </div>

        <a class="appear_cnt">Appeared {{ cnt }} times</a>

        <div class="slidecontainer">
            <h1>mastered</h1>
            <input type="range" min="0" max={{ mx_weight }} step="1" value={{ weight }} class="slider" name="weight" id="myRange">
            <p>Weight : <span id="demo"></span></p>
        </div>
        <input type="hidden" name="word" value={{ word }}>
        <span class="arrow" onclick="form.submit()"></span>
    </form>


</body>
<div class="modal_mask" role="dialog"></div>
<div class="modal" role="alert">
    <button class="close_modal" role="button">X</button>

    <form action="add_new_word" method="POST"> {% csrf_token %}

        <div class="word_container">
            <input type="text" name="new_word" placeholder="Word*" required><br>
            <input type="text" name="new_word_pos" placeholder="Part of Speech"><br>
            <textarea rows="4" cols="35" name="new_word_def" placeholder="Definition*" required></textarea><br>
            <textarea rows="8" cols="35" name="new_word_example" placeholder="Example"></textarea><br>
            <input type="submit" value="Add">
        </div>
    </form>

</div>


<script src="{% static 'jquery.min.js' %}"></script>


<script>
    setTimeout(function() {
        if ($('#msg').length > 0) {
            $('#msg').remove();
        }
    }, 3000)
</script>

<script>
    $("#add_btn").on("click", function() {
        $(".modal_mask").addClass("active");
    });

    function closeModal() {
        $(".modal_mask").removeClass("active");
    }
    $(".close_modal").on("click", function() {
        closeModal();
    });
    $(document).keyup(function(e) {
        if (e.keyCode == 27) {
            closeModal();
        }
    });
</script>

<script>
    function showDetails() {

        document.getElementById('word_details').style.display = 'block';
        document.getElementById('ques_mark').style.display = 'none';
        document.getElementById('displayed_word').classList.remove('displayed_word');
        document.getElementById('displayed_word').classList.add('displayed_word_with_details');
    }
</script>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>

<script>
    function autocomplete(inp, arr) {
        var currentFocus;
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function(e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function(e) {
            closeAllLists(e.target);
        });
    }

    var words = $.parseJSON('{{ all_words|safe }}');

    autocomplete(document.getElementById("search"), words);
</script>


</body>

</html>