<!DOCTYPE html>
<html>

<head>
</head>

<body>

    <form action='refresh_words' method='GET'>
        <button type='submit'>Refresh Words</button>
    </form>
    <form action='reset_all_weights_to_max' method='GET'>
        <button type='submit'>Reset All Wights to 100</button>
    </form>
    <form action='initialize_db_with_magoosh1000' method='GET'>
        <button type='submit'>Initialize Database With Magoosh 1000 Words</button>
    </form>
    <form action='clear_db' method='GET'>
        <button type='submit'>Clear Database</button>
    </form>
    
</body>

</html>